@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: none;
  background-color: #e9e8e6 ;
}
body{
  max-width: 1200px;
  margin: 0 auto;
}